/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */
@import-normalize;



dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;

}

button:focus {
  border-color: aqua;
}

button:hover {
  filter: contrast(20%);
}